.cld-main{
  width: auto;
}
.cld-datetime{
  position: relative;
  width: 66%;
  min-width: 100px;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
}
#indicator{
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin: auto;
  text-align: center;
}
.cld-nav{
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.cld-nav:hover{
  cursor: pointer;
}
.cld-nav:hover svg{
    fill: #666;
}
.cld-rwd{
  float: left;
}
.cld-fwd{
  float: right;
}
.cld-nav svg:hover{
  fill: #D3BC8D;
}
.cld-labels, #cld-days{
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.cld-label, .cld-day{
  box-sizing: border-box;
  display: inline-block;
}
.cld-label {
  text-align: center;
}
.cld-day{
  /*DO NOT USE GAP - the height of gaps does not get taken into account by chromium.*/
  margin: 0;
  padding: 5px;
  height: 12vh;
  border: 1px solid #ddd;
}
.cld-day.clickable:hover{
  cursor: pointer;
}
#today{
  border: 2px solid #D3BC8D;
}
.cld-day.disableDay{
  opacity: 0.5;
}
.cld-day.nextMonth, .cld-day.prevMonth{
  opacity: 0.33;
}
.cld-number, .cld-event{
  margin: 0;
  text-align: left;
}
.cld-event {
  height: calc(100% - 0.1vw - 1em);
  overflow-y: auto;
}
.cld-title{
  display: block;
  position: relative;
  padding: 0.1vw 0.1vw 0.1vw 1.5em;
  margin: 0.1vh 0.1vw;
  font-size: min(0.7vw, 100%);
  background-color: #D3BC8D;
  border-radius: 5px;
}
.cld-day:hover{
  background: #eee;
}
.cld-number.eventday{
  font-weight: bold;
}
.cld-number.eventday:hover{
  background: #eee;
}
@media (max-width: 1024px) {
  .cld-labels, .prevMonth, .nextMonth, .currMonth {
    display: none;
  }
  .eventDay {
    display: initial;
  }
  #cld-days {
    grid-template-columns: repeat(1, 1fr);
    overflow: auto;
  }
  .cld-day {
    min-height: 10vh;
    height: max-content;
  }
  .cld-title {
    font-size: initial;
  }
  .cld-event {
    height: auto;
  }
}
.cld-title::before {
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}
.cld-title.pa::before {
  content: '🎤';
}
.cld-title.dj::before {
  content: '💽';
}
.cld-title.fb::before {
  content: '🏈';
}
