.fullWidth {
    width: 100%
}
.none {
    display: none;
    border: 2px solid;
}
.tidal {
    display: none;
    background-color: #0005;
}
.spotify {
    display: none;
    background-color: #0805;
}
.youtube {
    display: none;
    background-color: #8005;
}
.youtubeMusic {
    display: none;
    background-color: #8005;
}
.service, .loading {
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
}
.explainer {
    text-align: center;
    color: grey;
    font-weight: bold;
}
.shown {
    display: block !important;
}
.hidden {
    display: none;
}
button {
    background-color: #D3BC8D;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .85rem;
    font-weight: 700;
    align-content: center;
    text-align: center;
    border: 0;
}
#calendarContainer {
    height: 80vh;
}
#eventReplays {
    box-sizing: border-box;
}
.replayTitle {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    cursor: pointer;
}
.replayTitle:hover {
    color: #D3BC8D;
}
.replayContainer {
    position: relative;
    box-sizing: border-box;
    height: 75vh;
}

.radioGroup {
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: #eee;
    border-radius: 20px;
}
.radioLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 8px;
    border-radius: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.radioLabel:hover {
    background-color: #ddd;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .radioLabel {
    background-color: #ccc; /* Background color for the selected item */
}
.radioLabel[for="none"] {
    color: #555;
}
.radioLabel[for="tidal"] {
    color: #000;
}
.radioLabel[for="spotify"] {
    color: #0A0;
}
.radioLabel[for="youtube"],
.radioLabel[for="youtubeMusic"] {
    color: #F00;
}
summary.replayTitle {
    list-style: none;
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
}
summary.replayTitle::before {
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
    content: '+';
}
details[open] summary.replayTitle::before {
    transform: rotate(180deg);
    content: '−';
}
@media (max-width: 1024px) {
    .radioGroup {
        flex-wrap: wrap;
    }
    .radioLabel {
        width: 100%;
    }
}
