.none {
    display: none;
    border: 2px solid;
}
.tidal {
    display: none;
    background-color: #0005;
}
.spotify {
    display: none;
    background-color: #0805;
}
.youtube {
    display: none;
    background-color: #8005;
}
.service, .loading {
    border-radius: 12px;
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
    height: 100%;
}
.explainer {
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.shown {
    display: block !important;
}
.hidden {
    display: none;
}
button {
    background-color: #D3BC8D;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .85rem;
    font-weight: 700;
    align-content: center;
    text-align: center;
    border: 0;
}
#calendarContainer {
    margin: 5vh 10vw;
    height: 70vh;
}
#eventReplays {
    margin: 5vh 10vw;
    position: relative;
    box-sizing: border-box;
    height: 70vh;
}
