h1 {
    width: 100%;
    text-align: center;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.2rem;
}
.cards {
    display: grid;
    gap: 1%;
    margin: 2%;
}
.clearfix {
    content: "";
    display: block;
    clear: both;
}
.cards div {
    padding: 1%;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.cardImg {
    width: 100%;
}
.titleCard {
    display: block;
}
#leaders {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#staff {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
#members {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
