.cards {
    display: grid;
    margin: 2%;
    grid-auto-rows: minmax(auto, auto);
    /*DO NOT USE GAP - the height of gaps does not get taken into account by chromium.*/
}
.cards div {
    padding: 1%;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.cardImg {
    width: 100%;
}
.titleCard {
    display: block;
    margin: .2vh .2vw;
}
#leaders {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#staff {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
#members {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.non-leader {
    margin: .2vh .2vw;
}
.non-leader h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2rem;
    height: 2.4rem;
}
.non-leader p {
    font-size: 0.8rem;
}
