* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
hr {
    background-color: #D3BC8D;
    opacity: 1;
    width: 46%;
    height: 2px;
    border:0;
    margin: 1rem 0;
}
header {
    background-color: #343741;
    position: fixed;
    z-index:100;
    top: 0;
    width: 100%;
    height: 50px;
    transition: all 0.3s ease;
}
.headImage {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 60px;
    width: auto;
    /*z-index:2;*/
    transition: 0.3s;
}
.headImage.shrink {
    left: 5px;
    width: auto;
    height: 40px;
}
.parentImage {
    position: absolute;
    top: 5px;
    left: 220px;
    height: 60px;
    width: auto;
    /*z-index:2;*/
    transition: 0.3s;
}
.parentImage.shrink {
    left: 160px;
    width: auto;
    height: 40px;
}
.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu li {
    margin: 1rem 15px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
}
.nav-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}
.nav-menu a:hover {
    color: #D3BC8D;
    text-decoration: underline;
}
#menu-toggle {
    display: none;
}
#burger {
    display: none;
}
.burger-line div {
    width: 30px;
    height: 3px;
    background-color: #D3BC8D;
    margin: 5px;
}
@media (max-width: 1024px) {
    .nav-menu {
        display: none;
        width: 100%;
        text-align: center;
    }
    #burger {
        display: block;
        position: absolute;
        top: 10px;
        right: 230px;
        cursor: pointer;
    }
    .dropdown {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 49px;
        background-color: #343741;
        z-index: 1;
    }
}
.listenNow {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 50px;
    background-color: #D3BC8D;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .85rem;
    font-weight: 700;
    align-content: center;
    text-align: center;
}
.listenNow:hover {
    background-color: white;
}
.shadow {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent 100%);
}
#content {
    position: relative;
    /*z-index: -1;*/
    background-color: black;
    color: white;
}
.bigImageContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}
.bigImage {
    display: block;
    width:100%;
}
.bigImageOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 38rem;
    background-color: rgba(0,0,0,0.8);
}
.bigImageOverlayContainer {
    padding: 1.5rem;
}
.bigImageHeader {
    font-size: 2.8rem;
    font-weight: 600;
    width: 562px;
    padding: 1.5rem 0;
    text-align: left;
}
.bigImageText {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.85;
    width: 562px;
    margin-bottom: 1.5rem;
}
.bigImageButton {
    background-color: #D3BC8D;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.85;
    border: 2px solid transparent;
    padding: 0.8em 1em 0.7em 1em;
    margin: 1.5rem 0;
}
.bigImageButton:hover {
    background-color: white;
    border: 2px solid grey;
}
footer {
    background-color: black;
    display: flex;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.footerDiv {
    width: 25%;
    display: inline-block;
}
.footImage {
    padding: 5% 15%;
    width: 70%;
}
.footParentImage {
    padding: 5% 35%;
    width: 30%;
}
#footer ul {
    list-style: none;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
}
#footer li {
    padding: .25em 0 .25em 0;
}
#footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}
#footer a:hover {
    color: #D3BC8D;
    text-decoration: underline;
}
